<script lang="ts" setup name="${BusinessName}">
  import {defineAsyncComponent, reactive, ref} from 'vue';

  import { Delete, Edit, Plus, Refresh, Search } from '@element-plus/icons-vue';

  import {
    ElButton,
    ElForm,
    ElFormItem,
    ElInput,
    ElMessage,
    ElMessageBox,
    ElTable,
    ElTableColumn
  } from 'element-plus';

  import {delObj, getPage} from  '#/api/${moduleName}/${businessName}';

  const RightToolbar = defineAsyncComponent(
          () => import('#/components/right-toolbar/index.vue'),
  );
  const Pagination = defineAsyncComponent(
          () => import('#/components/pagination/index.vue'),
  );

  const Form = defineAsyncComponent(() => import('./form.vue'));
  const state = reactive({
    queryParams: {   #foreach ($column in $columns)
      #if($column.isQuery)
          $column.javaField: null#if($foreach.count != $columns.size()),#end
      #end
    #end },
    page: {
      total: 0, // 总页数
      currentPage: 1, // 当前页数
      pageSize: 10, // 每页显示多少条
      asc: '',
      desc: 'create_time',
    },
    tableData: [],
  });
  const showSearch = ref(true);
  const loading = ref(false);
  const formRef = ref();
  const queryRef = ref();
  const initPage = async () => {
    loading.value = true;
    const params = {
      current: state.page.currentPage,
      size: state.page.pageSize,
      asc: state.page.asc,
      desc: state.page.desc,
    };
    await getPage(Object.assign(params, state.queryParams))
            .then((response) => {
              state.tableData = response.records;
              state.page.total = response.total;
              loading.value = false;
            })
            .catch(() => {
              loading.value = false;
            });
  };
  /**
   * 重置搜索表单
   */
  const resetQuery = () => {
    queryRef.value.resetFields();
    initPage();
  };
  /**
   * 新增按钮
   */
  const add = () => {
    formRef.value.initForm();
  };
  /**
   * 修改按钮
   */
  const edit = (row: any) => {
    formRef.value.initForm(row);
  };
  /**
   * 删除按钮
   */
  const del = (id: string) => {
    ElMessageBox.confirm('此操作将删除该${functionName}，是否继续?', '提示', {
      confirmButtonText: '确认',
      cancelButtonText: '取消',
      type: 'warning',
    }).then(() => {
      delObj(id)
              .then(() => {
                ElMessage.success('删除成功');
                initPage();
              })
              .catch(() => {
              });
    });
  };
  initPage();
</script>
<template>
  <div class="hx-layout-container">
    <div class="hx-layout-container-auto hx-layout-container-view">
      <!-- 搜索 -->
      <ElForm
              :model="state.queryParams"
              ref="queryRef"
              :inline="true"
              v-show="showSearch"
      >
        #foreach($column in $columns)
          #if($column.isQuery)
            #set($dictType=$column.dictType)
            #set($AttrName=$column.javaField.substring(0,1).toUpperCase() + ${column.javaField.substring(1)})
            #set($parentheseIndex=$column.columnComment.indexOf("（"))
            #if($parentheseIndex != -1)
              #set($comment=$column.columnComment.substring(0, $parentheseIndex))
            #else
              #set($comment=$column.columnComment)
            #end
            #if($column.htmlType == "input")
              <ElFormItem label="${comment}" prop="${column.javaField}">
                <ElInput
                        v-model="state.queryParams.${column.javaField}"
                        placeholder="请输入${comment}"
                        clearable
                />
              </ElFormItem>
            #end
          #end
        #end
        <ElFormItem>
          <ElButton type="primary" @click="initPage" :icon="Search">
            搜索
          </ElButton>
          <ElButton @click="resetQuery" :icon="Refresh"> 重置</ElButton>
        </ElFormItem>
      </ElForm>
      <!-- 工具栏 -->
      <div class="hx-table-toolbar">
        <div>
          <ElButton
                  type="primary"
                  v-access:code="'${permissionPrefix}:add'"
                  @click="add"
                  :icon="Plus"
          >
            新增
          </ElButton>
        </div>
        <RightToolbar
                :search-btn="true"
                :refresh-btn="true"
                @search="showSearch = !showSearch"
                @refresh="initPage"
        />
      </div>
      <Form ref="formRef" @init-page="initPage"/>
      <!-- 列表 -->
      <ElTable v-loading="loading" :data="state.tableData" border>
        <ElTableColumn type="selection" width="55" align="center"/>
        #foreach($column in $columns)
          #set($javaField=$column.javaField)
          #set($parentheseIndex=$column.columnComment.indexOf("（"))
          #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
          #else
            #set($comment=$column.columnComment)
          #end
          #if($column.isPk)
            <ElTableColumn label="${comment}" align="center" prop="${javaField}" />
          #elseif($column.list && "" != $javaField)
            <ElTableColumn label="${comment}" align="center" prop="${javaField}" />
          #end
        #end
        <ElTableColumn label="操作" width="200" align="center" fixed="right">
          <template #default="scope">
            <ElButton
                    link
                    type="primary"
                    @click="edit(scope.row)"
                    v-access:code="'${permissionPrefix}:edit'"
                    :icon="Edit"
            >
              修改
            </ElButton>
            <ElButton
                    link
                    type="danger"
                    @click="del(scope.row.id)"
                    v-access:code="'${permissionPrefix}:del'"
                    :icon="Delete"
            >
              删除
            </ElButton>
          </template>
        </ElTableColumn>
      </ElTable>
      <!-- 分页 -->
      <Pagination
              :total="state.page.total"
              v-model:current="state.page.currentPage"
              v-model:size="state.page.pageSize"
              @change="initPage"
      />
    </div>
  </div>
</template>
