/**
 * Copyright (c) 2025 沈阳浩荣科技有限公司
 * All rights reserved.
 * <p>
 * 注意：
 * 本项目源代码由沈阳浩荣科技有限公司原创开发，版权所有。
 */

package ${packageName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.${moduleName}.api.entity.${ClassName};
/**
 *  ${functionName}
 *
 * @author ${author}
 * @date  ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {

}
