import { requestClient } from '#/api/request';

/**
 * 获取${functionName}分页
 */
export async function getPage(query: any) {
    return requestClient.get('/${moduleName}/${businessName}/page', {
        params: query
    });
}

/**
 * 根据ID获取${functionName}
 */
export async function getById(id: string) {
    return requestClient.get(`/${moduleName}/${businessName}/${id}`);
}

/**
 * 添加${functionName}
 */
export async function addObj(data: any) {
    return requestClient.post('/${moduleName}/${businessName}', data);
}

/**
 * 编辑${functionName}
 */
export async function editObj(data: any) {
    return requestClient.put('/${moduleName}/${businessName}', data);
}

/**
 * 删除${functionName}
 */
export async function delObj(id: string) {
    return requestClient.delete(`/${moduleName}/${businessName}/${id}`);
}
