<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2025 沈阳浩荣科技有限公司 
  All rights reserved. 
  注意： 
  本项目源代码由沈阳浩荣科技有限公司原创开发，版权所有。 
 -->
<!-- 日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为INFO，则低于INFO的信息都不会输出 -->
<configuration scan="false" debug="false">
    <!-- 定义参数 -->
    <property name="log.dir" value="logs/${project.artifactId}"/>
    <!--输出到控制台-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="debug"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 按天数进行压缩 -->
            <fileNamePattern>${log.dir}/debug_%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <!-- 当文件大小超过 50MB 也会进行压缩 -->
            <maxFileSize>50MB</maxFileSize>
            <!-- 做多保存 30 天的日志 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="error"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 按天数进行压缩 -->
            <fileNamePattern>${log.dir}/error_%d{yyyy-MM-dd}_%i.log.zip</fileNamePattern>
            <!-- 当文件大小超过 50MB 也会进行压缩 -->
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="debug"/>
        <appender-ref ref="error" />
    </root>

</configuration>

