<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
  Copyright (c) 2025 沈阳浩荣科技有限公司 
  All rights reserved. 
  注意： 
  本项目源代码由沈阳浩荣科技有限公司原创开发，版权所有。 
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haorong.cloud.order.mapper.OrderDeliveryLogisticsMapper">

    <select id="selectByOrDeliveryId" resultType="com.haorong.cloud.order.api.entity.OrderDeliveryLogistics">
        SELECT
            order_delivery_logistics.delivery_id,
            order_delivery_logistics.logistics_company_code,
            order_delivery_logistics.logistics_status,
            order_delivery_logistics.logistics_no,
            order_delivery_logistics.logistics_company_name,
            order_delivery_logistics.logistics_context,
            order_delivery_logistics.logistics_time,
            order_delivery_logistics.create_time,
            order_delivery_logistics.update_time,
            order_delivery_logistics.del_flag,
            order_delivery_logistics.create_by,
            order_delivery_logistics.update_by,
            order_delivery_logistics.tenant_id
        FROM
            order_delivery_logistics AS order_delivery_logistics
        <where>
            AND order_delivery_logistics.del_flag = '0'
            AND order_delivery_logistics.delivery_id =#{deliveryId}
        </where>
        ORDER BY order_delivery_logistics.logistics_time DESC
    </select>
</mapper>